p{
    display: inline;
}

span{
    display: block;
}

.box1{
    background-color: red;
    width: 500px;
    height: 200px;
    position: relative;
}

.box1 div{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    
}

.box2{
    background-color: rgb(34, 112, 69);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 50%;
}

.box3{
    background: linear-gradient(to right bottom, red, yellow, green);
    width: 200px;
    height: 200px;
    position: fixed;
    right: 100px;
}


.img{
    height: 500px;
    width: 500px;
    background: url(https://images.unsplash.com/photo-1698106828998-787ee1cc115c?q=80&w=2008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}