*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;
    padding: 1.2vw 2vw;
}

nav{
    /* background-color: red; */
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    
}


nav a{
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
}

nav i{
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 50%;
}

.hero{
    /* background-color: cyan; */
    width: 100%;
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
}

.hero h1{
    font-size: 4.8vw;
    
    font-weight: 700;
    text-transform: uppercase;
}

.container{
    display: flex;
    justify-content: space-around;

}

.container p{
    width: 40%;
    font-size: 1.23vw;

}

.container aside{
    /* background-color: red; */
    width: 25vw;
}

.container aside div{
    width: 100%;
    border-top: 1px solid black;
    padding: 8px 4px;
    color: rgb(71, 73, 74);
    font-size: 1.9vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.container aside div i{
    transform: rotate(-45deg);
    opacity: 0;

}
.container aside div:hover{
    color: black;
}

.container aside div:hover i{
    opacity: 1;
}



section{
    margin-top: 10px;
    width: 100%;
    height: 80vh;
    background: url(Img.avif);
    background-position: 0 30%;
    background-size: cover;
}


@media (max-width:600px){
    .hero{
        flex-direction: column;
    }

    nav a{
        font-size: 3.4vw;
    }


    .hero h1{
        font-size: 10vw;

    }
    .container{
        flex-direction: column;
        gap: 20px;

    }
    .container p{
        font-size: 3vw;

    }
    .container aside{
        width: 100%;
    }
    .container aside div{
        font-size: 4vw;
        color: black;
    }

    section{
        width: 100%;
        background-position: 25% -40%;
        background-repeat: no-repeat;
    }
}